<ul>
{% for page in pages|sort(attribute='date', reverse=True) if page.published == true %}
    <li>
        <a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
	{% if page.date|length %}
	Date written: {{page.date}}
	{% endif %}
    {% if page.meta.tags|length %}
        | Tagged:
        {% for page_tag in page.meta.tags %}
            <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
        {% endfor %}
    {% endif %}
    </li>
{% else %}
    <li>No page.</li>
{% endfor %}
</ul>
